In [1]:
num = input("input num:")
print(type(num))

input num:1
<class 'str'>

In [2]:
num1 = input("input num1:")
num2 = input("input num2:")

R = divmod(num1, num2)

print("묷은: ",R[0])
print("나머지는: ",R[1])

input num1:5
input num2:3

TypeError: unsupported operand type(s) for divmod(): 'str' and 'str'

In [3]:
num1 = input("input num1:")
num1 = int(num1)
num2 = input("input num2:")
num2 = int(num2)

R = divmod(num1, num2)

print("두수의 묷은: ",R[0])
print("두수의 나머지는: ",R[1])

input num1:5
input num2:3
묷은:  1
나머지는:  2

In [4]:
print("두수의 묷은: ",R[0], "두수의 나머지는: ",R[1])

두수의 묷은:  1 두수의 나머지는:  2

In [5]:
print("두수의 묷은: ",R[0], "; 두수의 나머지는: ",R[1])

두수의 묷은:  1 ; 두수의 나머지는:  2

In [6]:
[num1, num2]= input("input num1:","input num2:")
num1 = int(num1)
num2 = int(num2)

Sum = num1+num2
Sub = num1-num2
MultP = num1 * num2
DiviS = num1 / num2

print("두수의 합: ",Sum,"두수의 빼기 결과: ",Sub,"두수의 곱하기 결과: ",MultP,"두수의 나누기 결과: ",DiviS)

TypeError: Kernel.raw_input() takes from 1 to 2 positional arguments but 3 were given

In [7]:
[num1, num2]= input("input num1:",num1,"input num2:"num2)
num1 = int(num1)
num2 = int(num2)

Sum = num1+num2
Sub = num1-num2
MultP = num1 * num2
DiviS = num1 / num2

print("두수의 합: ",Sum,"두수의 빼기 결과: ",Sub,"두수의 곱하기 결과: ",MultP,"두수의 나누기 결과: ",DiviS)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3100547697.py, line 1)

In [8]:
[num1, num2]= input("input num1，num2:")
num1 = int(num1)
num2 = int(num2)

Sum = num1+num2
Sub = num1-num2
MultP = num1 * num2
DiviS = num1 / num2

print("두수의 합: ",Sum,"두수의 빼기 결과: ",Sub,"두수의 곱하기 결과: ",MultP,"두수의 나누기 결과: ",DiviS)

input num1，num2:3，5

ValueError: too many values to unpack (expected 2)

In [9]:
input("input num1，num2:")

input num1，num2:3，5

'3，5'

In [10]:
num = input("input num1，num2:")
num1 = int(num[0])
num2 = int(num[1])

Sum = num1+num2
Sub = num1-num2
MultP = num1 * num2
DiviS = num1 / num2

print("두수의 합: ",Sum,"두수의 빼기 결과: ",Sub,"두수의 곱하기 결과: ",MultP,"두수의 나누기 결과: ",DiviS)

input num1，num2:3,5

ValueError: invalid literal for int() with base 10: ','

In [11]:
num[0]

'3'

In [12]:
num[1]

','

In [13]:
num = input("input num1，num2:")
num1 = int(num[0])
num2 = int(num[1])

Sum = num1+num2
Sub = num1-num2
MultP = num1 * num2
DiviS = num1 / num2

print("두수의 합: ",Sum,"두수의 빼기 결과: ",Sub,"두수의 곱하기 결과: ",MultP,"두수의 나누기 결과: ",DiviS)

input num1，num2:3 5

ValueError: invalid literal for int() with base 10: ' '

In [14]:
num = input("input num1，num2:")
num1 = int(num[0])
num2 = int(num[2])

Sum = num1+num2
Sub = num1-num2
MultP = num1 * num2
DiviS = num1 / num2

print("두수의 합:",Sum,"; 두수의 빼기 결과:",Sub,"; 두수의 곱하기 결과:",MultP,"; 두수의 나누기 결과:",DiviS)

input num1，num2:3,5
두수의 합:  8 두수의 빼기 결과:  -2 두수의 곱하기 결과:  15 두수의 나누기 결과:  0.6

In [15]:
num = input("input num1，num2:")
num1 = int(num[0])
num2 = int(num[2])

Sum = num1+num2
Sub = num1-num2
MultP = num1 * num2
DiviS = num1 / num2

print("두수의 합:",Sum,"; 두수의 빼기 결과:",Sub,"; 두수의 곱하기 결과:",MultP,"; 두수의 나누기 결과:",DiviS)

input num1，num2:3,5
두수의 합: 8 ; 두수의 빼기 결과: -2 ; 두수의 곱하기 결과: 15 ; 두수의 나누기 결과: 0.6

In [16]:
num = input("input num1，num2:")
num1 = int(num[0])
num2 = int(num[-1])

Sum = num1+num2
Sub = num1-num2
MultP = num1 * num2
DiviS = num1 / num2

print("두수의 합:",Sum,"; 두수의 빼기 결과:",Sub,"; 두수의 곱하기 결과:",MultP,"; 두수의 나누기 결과:",DiviS)

input num1，num2:3,5
두수의 합: 8 ; 두수의 빼기 결과: -2 ; 두수의 곱하기 결과: 15 ; 두수의 나누기 결과: 0.6

In [17]:
num = input("input num1，num2:")
num1 = int(num[0])
num2 = int(num[-1])

Sum = num1+num2
Sub = num1-num2
MultP = num1 * num2
DiviS = num1 / num2

print("두수의 합:",Sum,"; 두수의 빼기 결과:",Sub,"; 두수의 곱하기 결과:",MultP,"; 두수의 나누기 결과:",DiviS)

input num1，num2:3 5
두수의 합: 8 ; 두수의 빼기 결과: -2 ; 두수의 곱하기 결과: 15 ; 두수의 나누기 결과: 0.6

In [20]:
diater = True
    print("Woe!")
else:  
    print("Whee!")

IndentationError: unexpected indent (164833981.py, line 2)

In [21]:
diater = True
    print("Woe!")
else:  
    print("Whee!")

IndentationError: unexpected indent (164833981.py, line 2)

In [22]:
diater = True
if diater:
    print("Woe!")
else:  
    print("Whee!")

Woe!

In [25]:
furry = True
large = True
if furry:
    if large:
        print("It's a yeti.")
    else:
        print("It's a cat!")
else:
    if large:
        print("It's a whale!")
    else:
        print("It's a human. or a hairless cat.")

It's a yeti.

In [44]:
cash = 3000
coffee = 1000
bus = 1000
taxi = 2000
tran = bus

if tran == bus:
    cash2 = cash - coffee - bus
    print("버스를 타고, ",cash2, "원 남아요.")
else:
    cash2 = cash - coffee - taxi
    print("택시를 타고, ",cash2, "원 남아요.")

버스를 타고,  1000 원 남아요.

In [46]:
cash = 3000
coffee = 1000
bus = 1000
taxi = 2000
tran = taxi

if tran == bus:
    cash2 = cash - coffee - bus
    print("버스를 타고, ",cash2, "원 남아요.")
elif tran == taxi:
    cash2 = cash - coffee - taxi
    print("택시를 타고, ",cash2, "원 남아요.")

택시를 타고,  0 원 남아요.

In [49]:
cash = 3000
coffee = 1000
bus = 1000
taxi = 2000
tran = input("교통수단을 선택하세요!(bus or taxi)")

if tran == "bus":
    cash2 = cash - coffee - bus
    print("버스를 타고, ",cash2, "원 남아요.")
elif tran == "taxi":
    cash2 = cash - coffee - taxi
    print("택시를 타고, ",cash2, "원 남아요.")

교통수단을 선택하세요!(bus or taxi)taxi
택시를 타고,  0 원 남아요.

In [54]:
money = 3000
coffee = 1500
dec = input("커피를 샀나요? (Y/N):")

if dec == "Y":
    money = money - coffee
    if money >= 2000:
        print("택시를 타고 가세요!")
    elif money < 1000:
        print("커피를 마셨으니 걸어 가세요!")
    else:
        print("버스를 타고 가세요!")
elif dec == "N":
    if money >= 2000:
        print("택시를 타고 가세요!")
    elif money < 1000:
        print("돈이 부족해서 걸어 가세요!")
    else:
        print("버스를 타고 가세요!")

커피를 샀나요? (Y/N):N
택시를 타고 가세요!

In [65]:
money = int(input("너 주머니에 얼마있니? :"))
coffee = 1500

if money < 1000:
        print("돈없어 암것도 하지마....")
elif money < 1500:
        print("커피를 못 마시고 버스를 타고 가세요")
else:
    dec = input("커피를 샀나요? (Y/N) : ")
    if dec == "Y" :
        money = money - coffee
        if money >= 2000 :
            print("Taxi 타고가세요")
        elif money >= 1000 : 
            print("버스타고 가세요")
        else:
            print("커피 사먹으면 니 다리가 고생해!!!!")
    else :
        if dec == "N" :
            if money >= 2000 :
                print("Taxi 타고가세요")
            else:
                print("버스타고 가세요")
        else:
            print("잘못입력하셨어요........")

너 주머니에 얼마있니? :1500
커피를 샀나요? (Y/N) : N
버스타고 가세요

In [74]:
plus = input("두수의 더하기 하세요: ")
result = int(plus[0])+int(plus[-1])

print("두수의 더하기 결과는:", result)

두수의 더하기 하세요: 3 + 4
두수의 더하기 결과는: 7

In [66]:
input()

3+4

'3+4'

In [67]:
a=input()

3+4

In [68]:
a[1]

'+'

In [69]:
type(a[1])

str